body {
    margin: 0;
    padding: 0;
    background-color: #f3f2f2;
}

.screen {
    background: linear-gradient(#90d5d5,#7ecece);
    width: 70%;
    min-width: 700px; 
    height: 100vh;
    margin: auto;
}

.logoheader{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid grey;
}

.flexer{
    display: flex;
}

.notHeader{
    width: 100%;
    height: 80%;
}
 
.game{
    box-sizing: border-box;
    width: 52.5%;
    height: 100%;
    margin-left: 5%;
    margin-right: 2.5%;
    float: left;
    background-color: #aa7409;
    border: 12px solid #795c06;
    border-radius: 7px;
}

.column{
    width: 35%;
    height: 100%;
    float: right;
    margin-right: 5%;
}

.hotkeyExplanation{
    width: 100%;
    height: 40%;
    background-color: #cccccc;
}

.rulesExplanation{
    width: 95%;
    height: 50%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: #000000;
}

#logoimg{
        
}